.fetchDirectionContainerDiv {
    width: 100%; 
    background-color: #ADADAD; 
}

.directionHeader {
    background-color: #6D6D6D; 
    height: 50px; 
}

.underlineDirection {
    text-decoration: underline;
}

.selectRouteButton {
    margin-left: 10px; 
}

.routeDirection {
    li {
        font-size: 20px; 
    }
}