.fetchDataContainerDiv {
    border-style: solid; 
    width: 100%; 
    text-align: center; 
}

.routeListDiv {
    text-align: left; 
    border-style: solid; 
    width: 100%; 
    margin: 0 auto; 
    background-color: #FCD580; 
}

.routeListHeader {
    background-color: #FCB216;
    height: 100px; 
    text-align: center; 
}

.routes {
    margin-left: 10px; 
    margin-bottom: 10px; 
    font-size: 20px; 
}

.selectRouteButton {
    margin-left: 10px; 
    font-size: 20px; 
}